PORT=3000
DATABASE_URL=
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_BASE_URL=https://api.mercadopago.com
MP_PAYMENT_ENDPOINT=/v1/payments
PUBLIC_BASE_URL=
PUBLIC_APP_URL=
MP_WEBHOOK_PATH_SECRET=
